@model IEnumerable<Pagina_web_mascotas.mascota>

<h1>Lista de Mascotas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Edad</th>
            <th>Refugio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mascota in Model)

        {
            <tr>
                <td>@mascota.Nombre</td>
                <td>@mascota.Raza</td>
                <td>@mascota.Edad</td>
                <td>@mascota.refugio.Nombre</td> <!-- Suponiendo que la propiedad Refugio contiene un objeto -->
                <td>
                    <a asp-page="./Edit" asp-route-id="@mascota.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@mascota.Id">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@mascota.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Create" class="btn btn-primary">Agregar Nueva Mascota</a>